<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/doctoraccount.css">
    <title>Healthcare</title>
  </head>
  <body>
    <h1>Information Form</h1>
    <form method="post">
      Name:<br>
      <input type="text" name="name" required>
      <br><br>
      Language:<br>
      <input type="text" name="language" required>
      <br><br>
      Location:<br>
      <input type="text" name="location" required>
      <input type="submit" value="Submit" required>
    </form>
  </body>
</html>
