<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/patientlogin.css">
    <title>Healthcare</title>
  </head>
  <body>
    <div>
    <h1>LOGIN</h1>
    <div id="container">
<form>
<label for="username">Username:</label>
<input type="text" id="username" name="username">
<label for="password">Password:</label>
<input type="password" id="password" name="password">
<div id="lower">
<br><input type="checkbox"><label for="checkbox">Keep me logged in</label></br>
<br><input type="submit" value="Login"></br>
</div>
</form></div>
    <a href="/patientaccount" class="button-choose pure-button">Create an Account</a>
  </body>
</html>
