<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/patientaccount.css">
    <title>Healthcare</title>
  </head>
  <body>
    <h1>Information Form</h1>
    <form method="post">
      Name:<br>
      <input type="text" name="name1" required>
      <br><br>
      Language:
      <br>
      <input type="text" name="language1" required>
      <br><br>
      Location:
      <br>
      <input type="text" name="location1" required>
      <br><br>
      <a href="/results" class="button-choose pure-button">Submit</a>
    </form>
  </body>
</html>
